@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
   
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .miama-font{

    font-family: 'Miama', sans-serif;
                                                
}
/* first page */

/* fitness section for first page */
.fitness{
    max-width: 100%;
    height: 100vh;
}


/* shared-style */

.container{
    width:90%;
    margin:4rem auto;
    border-radius: 1rem;
}

.display-flex{

    display: flex;
}

/* navigation-section */
.nav-items{
    margin-right: 7rem;
    border:1px solid rgba(255,255,255,0.1);
    border-radius: 2.4rem;
    padding:5px 10px 5px 10px;
    justify-content: space-evenly;

}
.bar{
    display: none;
    width: 100%;
}



.nav-item{
    margin-right: 2.5rem;
    cursor: pointer;
    color:white;
    
}
.ni2,.ni3,.ni4{
    opacity: 0.7;
}
.nav-item:hover{
    opacity: 1;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
}

/* background-color-for-first-page */


.bg-color{

    background:Linear-gradient(360.00deg, rgb(8,8,10), rgba(100,100,100,13) 300%);
    
}


.text-primary{

    color:rgb(230,83,60);

}

.brand{
    font-weight: 800;
    font-size: 2.25rem;
    margin-left: 4.8rem;
}


/* banner-section */

.banner-title{
    font-size: 3.8rem;
    font-weight: 900;
    line-height: 160%;
    color:rgb(255,255,255);
    
}

.banner-content, .images-02 img{
    width:100%;
       
}
.images-02 {
    position: relative;
    width:31.25rem;
    margin-right: 10rem;
}
.images-02 img{
    height: 100%;
    width:100%;
}

.banner-description{
    color:rgba(255,255,255,0.5);
    font-weight: 400;
    line-height: 24px;
    margin-top: 2.75rem;
    font-size: 0.75rem;
}



.btn-primary{

    background-color: rgb(230,83,60);
    color:white;
    border-radius: 42px;
   
    width: 10.625rem;
    height: 54px;
    border-radius: 42px;
    border:none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s linear ;
}
.btn-primary:hover{
    font-size: 1rem;
}
.btn-secondary{
    background-color: black;
    color:rgb(255,255,255);
    border:1px solid white;
    border-radius: 42px;
    width:10.625rem;
    height:54px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s linear ;
   
}
.btn-secondary:hover{
    font-size: 1rem;
    
}
.home-btn{
    background-color: rgba(230,83,60,0.9);
    border-radius: 1rem;
    padding: 5px 10px 5px 10px;
    height:38px;

    color:white;
    font-weight: 600;
    opacity: 1;
    
   
    
}
.home-btn:hover{
    background-color: rgb(230, 83, 60);

}
.btn-01{
    gap:1rem;
    margin-top: 2.75rem;
    
}
.badge-01{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    position: absolute;
    top:70px;
    left:180px;
    cursor: pointer;
}
.badge-01-videos{
    color: rgb(255, 255, 255);

   font-size: 40px;
   font-weight: 900;
   line-height: 40px;
   letter-spacing: 1px;

}
.badge-01-desc{
    color: rgba(255, 255, 255, 0.65);

font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 1px;

}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230,83,60);
    margin-right: 0.5rem;
}
.badge-02{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    position: absolute;
    left:-120px;
    bottom:45px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.badge-02-videos{
    color: rgb(255, 255, 255);

   font-size: 40px;
   font-weight: 900;
   line-height: 40px;
   letter-spacing: 1px;


}
.badge-02-desc{
 color: rgba(255, 255, 255, 0.65);

font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 1px;

}
.badge-01:hover{
    background:rgba(255, 255, 255, 0.141) ;
}
.badge-02:hover{
    background:rgba(255, 255, 255, 0.141) ;
}




/* Habit-section */

.habit-content{
    text-align: center;
}
.habit-content h2{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0%;
    line-height: 120%;
    color:rgb(255,255,255);
}

.habit-content p{
    font-size: 0.875rem;
    color:rgba(255,255,255,0.5);
    font-weight: 400;
    line-height:2rem;

}
.card-container{
    margin-top: 3.625rem;
    gap:2.5rem;
    margin-left: 6.3rem;
    flex-wrap: wrap;
}

.card{
    width:14.4375rem;
    height:17.125rem;
    

}
.card-container .card img{
    border-radius: 50%;
    padding:0 1.5rem;
   
}

.card-title{
    
    color:rgb(255, 255, 255);
    font-weight: 600;
    line-height: 120%;
    font-size: 1.125rem;
    text-align: center;
    margin: 6px 0;

}
.card-desc{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgba(255,255,255,0.5);
}


/* run-section */

/* .run-content{
    width: 47.6875rem;
    height: 18.125rem;
} */


.run{
    gap:11rem;
    background: rgb(34,34,34);
    border-radius: 1.125rem;
}

.run-content{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 54px;
   
}

.run-title{
    font-size: 3rem;
    font-weight: 900;
    color:rgb(255, 255, 255);
    line-height: 120%;
    letter-spacing: 0%;
    margin: 14px 0px;
}

.run-description{
    font-size:0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color:rgba(255, 255, 255, 0.5);
    margin-top: 1.75rem;
}
.run-btn{
    margin-top: 4rem;
    margin-bottom: 0px;
    background-color: rgb(230,83,60);
    color:white;
    border-radius: 42px;
   
    width: 10.625rem;
    height: 54px;
    border-radius: 42px;
    border:none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s linear ;
}
.run-btn:hover{
    font-size: 1rem;
    
}
.run-image{

    width: 100%;

}

.run-image img{
    width: 95%;
    border-radius: 1.125rem;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
   
   
}

/* bmi-section */

.bmi{
    margin-top: 80px;
}
.bmi-banner{
    margin-top: 85px;
}

.bmi-content{
    text-align: center;
}
.bmi-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    
}
.bmi-desc{
    color: rgba(255, 255, 255, 0.5);
    font-size:0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    
}

.bmi-banner{
    background: rgb(34,34,34);
}
.bmi-chart-title{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    /* margin-top: 40px; */

}
.table{
    margin-top: 35px;
    
}
table,th,td{
    border:1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
thead th{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
}
tbody td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.bmi-cal-title{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;

}
.bmi-cal-desc{

    color: rgba(255, 255, 255, 0.5);
    font-size:0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

}

form input,form select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding:12px 20px;
}
form select{
    color: rgba(255, 255, 255, 0.5);
}



/* team-section */

.team-content{
    text-align: center;
}

.team-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.team-desc{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

}
.gallery{
    margin-top: 3.75rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    row-gap: 50px;
    
}
.team-card{
    width:330px;
    height: 300px;
    border-radius: 1.125rem;
    margin-left: 2.5rem;
    position: relative;
    
}
.trainer-name{
    position: absolute;
    color:rgb(255,255,255);
    top:16rem;
    left:1rem;
    font-size: 1.2rem;
    font-weight: 700;

}
.trainer-desc{
    position: absolute;
    color:rgb(255,255,255);
    top:17.5rem;
    left:1rem;
    font-size: 0.75rem;
    color:rgba(255, 255, 255, 0.5);

}
.gallery img{
    width: 100%;
    border-radius: 1.125rem;
    height: 100%;
}


/* footer section */

.footer{
    background:rgba(255,255,255,0.1);
    margin-top: 5rem;
}

.footer-content{
    margin: 60px 0;
    display: grid;
    grid-template-columns:1.5fr  repeat(2,1fr);
    width: 90%;
    margin-left: 50px;
    padding-top: 50px;
    
}


.c1-title{
    color: rgb(230, 83, 60);
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 120%;
}
.c1-desc{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.c2-title{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;
}
.c-info{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 120%;
    margin-top: 0.5rem;
}
.line{
    width:90%;
    margin-left: 3.125rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-desc{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-top: 30px;
    
}

/* responsive layout first page */


@media screen and (max-width:1044px){
    .brand{
        margin-left: 3rem;

    }
} 

@media screen and (max-width:1044px) {

    .banner{
        flex-direction: column;
        gap:5rem;
    }
    .images-02 {
        position: relative;
        width:450px;
        border: none;
        margin-left: 7rem;
    }
    .images-02 img{
        width: 60%;
    }
    /* .bg-color{
        background: Linear-gradient( 10000deg, rgb(8, 8, 10), rgba(100,100,100,13) 500%);
       
    } */
    .habit-content{
        margin-top: 28rem;
        
    }

    


    
}
@media screen and (max-width:640px){
    .nav-items{
        display: none;
    }
    .brand{
        margin-left:1.7rem;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .bar{
        display: block;
        color: white;
        margin-right: 3rem;
        margin-left: 24rem;
        cursor: pointer;
        
        
    }

    .habits{
        margin-left: 50px;
    }

    .habit-content{
        margin-top: 28rem;
        
    }
    .card-container{
        margin-left: 10.625rem;
        flex-direction: column;
    }
    
   
}

/* responsive-layout-run-section-mobile*/

@media screen and (max-width:640px){

    .run{
        flex-direction: column;
        gap:0px;
        /* margin-left: 70px;
        width: 100%; */
        /* margin-left: 0px;
        width: 90%; */
    }
    .run-content{
        margin-right: 2.5rem;
    }

    .run-image{
        margin-top: 0.75rem;
    }
    .run-image img{
        width: 90%;
        margin-left: 1.3rem;
    }



    /* responsive-layout-team-section-mobile*/

    @media screen and (max-width:640px){

        .gallery{
            grid-template-columns: repeat(1,1fr);
        }
        .team-card{
            margin-left: 5.5rem;
        }




    }


     /* responsive-layout-footer-section-mobile*/

     .footer-content{
        grid-template-columns: repeat(1,1fr);
        
     }

     .footer-content1,.footer-content2,.footer-content3{
        margin-right: 30px;
     }
     .footer-content2,.footer-content3{
        margin-top: 0.75rem;
     }

     .line{
        margin-left: 2.3rem;
     }





}








